@import "tailwindcss";
@import "tailwindcss-animated";

:root {
  --background: #fdfdfd;
  --foreground: #f1f1f1;
  --radius: 7px;
  --blue-shadow: rgba(0, 37, 250, 0.2); /* mesma cor, 20% opacidade */

  --color-blue-500: #3b82f6;
  --color-amber-500: #f59e0b;
  --color-white: #ffffff;
}


body{
  background-color: var(--background);
  overflow: hidden;
}

.page-link {
  border: 1px transparent solid;
  border-radius: 7px;
  transition: all 50ms ease-in-out;
}

/* h2{
  font-size: large;
  font-weight: 600;
} */

.page-link:hover,
.page-link.selected {
  /*border-color: var(--color-blue-500);*/
  border-radius: 7px;
  background-color: var(--color-blue-500);
  color: white;
}

.page-link:hover{
  background-color: #0000003b;
  color: black;
}

.screen {
  width: 80%;
  padding: 20px;
  background-color: var(--background);
  height: 100vh;
}

aside.main-aside {
  background-color: var(--color-white);
  z-index: 10;
  box-shadow: 5px 0px 5px -2px var(--blue-shadow);
  min-width: 322px;
}

.title {
  color: var(--color-amber-500);
  font-size: 24px;
  font-weight: bold;
}

.create-btn{
  transition: all ease-in-out 350ms;
  color: white;
  font-weight: bold;
}
.create-btn:hover{
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px var(--blue-shadow);
  transform: scale(102%);
}

.project_card_actions{
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.project_card_actions .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 1px solid rgb(55, 55, 55);
  border-radius: 16px;
  padding: 4px 10px;
  width: 30%;
}

.project_card_actions .btn:hover {
  transform: scale(105%);
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.project_card_actions .btn.trash:hover {
  background-color: rgb(255, 63, 63);
}

.project_card_actions .btn.edit:hover {
  background-color: rgb(66, 255, 63);
}